#rubik{
    border: 2px solid black;
    font-size: 5em;
    font-family: 'Courier New', Courier, monospace;
    background-color: #ebb134;
    text-align: center;
    min-width: 100%;

}

.html{
    
    border: 4px solid black;
    margin-bottom: 20px;
    min-height: 400px;
    min-width: 100%;
    background-color: rgb(226, 226, 226);

}
body{
    background-image: url(https://lh3.googleusercontent.com/drive-storage/APZSt_dRPIPUuwQNaaYHWCWsNLt4zcwtY4gqP_elr8ARRltjOvZczxI5OCEFxo3NfSKac2Xc-d9uKr5WPmpORlL9lSPXwOQlhiXOgU01vTgFOg=w1920-h923);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.logo{
    object-position: left;
    padding-left: 20px;
}
p{
    font-size: 28px;
    text-align: left;
    padding-left: 65px;
}
h2{
    font-size: 30px;
    text-align: center;
}
.språk{
    width: 700px;
    height: 270px;
    padding-left: 100px;
}